<IfModule mod_rewrite.c>
  RewriteEngine on

  # Route everything to the public directory.
  RewriteRule ^$ public/index.html [L]
  RewriteRule public/index.html$ public/index.html [L]
  RewriteRule media-wiki-generator.php$ public/media-wiki-generator.php [QSA,L]
  RewriteRule media-wiki-page-fetcher.php$ public/media-wiki-page-fetcher.php [QSA,L]
  RewriteRule media-wiki-database-populator.php$ public/media-wiki-database-populator.php [QSA,L]
  RewriteRule image-scraper/(.*) public/image-scraper/$1 [QSA,L]
  
  RewriteRule (.*) public/index.php [QSA,L]
</IfModule>
